params {
    // sample inputs
    input_csv = "path/to/input/csv/"
    reference_fasta = "/path/to/fasta/genome.fa"
    reference_fasta_dict = "/path/to/fasta/dict/genome.dict"
    reference_fasta_index_files = "/path/to/fasta/index/files/genome.fa.*"

    // input/output locations
    output_dir = "where/to/save/outputs/"
    temp_dir = "/local/disk/for/temp/file/dir/"

    // options
    save_intermediate_files = false
    cache_intermediate_pipeline_steps = false
}

process {
    // monitor process jobs with local (not slurm) executor
    executor = "local"

    // echo stdout of each step to stdout of pipeline
    echo = true
}

docker {
    enabled = true
}