---
name: Docker-build-release

on:
  push:
    branches: ['main']
    tags: ['v*']
  release:
    types: [published]

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    name: A job to build and push a docker image
    permissions:
      contents: read
      packages: write
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Read YAML
        id: yaml-data
        uses: jbutcher5/read-yaml@1.6
        with:
          file: metadata.yaml
          key-path: '["image_name"]'

      - name: Create tags
        id: meta
        uses: docker/metadata-action@v3
        with:
          flavor: |
            latest=false
          images: ghcr.io/uclahs-cds/${{ steps.yaml-data.outputs.data }}
          tags: |
            type=raw,enable=${{github.event_name == 'push'}},value=dev,event=branch
            type=match,pattern=v(.*),group=1
      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io/uclahs-cds
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
